.App {
  text-align: center;
  margin: 0 auto;
}

.input-field {
  max-width: 1000px;  
  margin: 50px auto;
  display: flex;
}

.account, button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  width: auto;
  margin-right: 30px;
  border-radius: 10px;
}

button {
  background-color: teal;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: turquoise;
  box-shadow: 3px 3px 5px gray;
}

button:active {
  transform: translateY(3px);
  box-shadow: none;
}
